#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0; /* the bottom margin is the negative value of the footer's height */
    position: relative
}
/*
#corner {
  position: fixed;
  height: 200px;
  width: 200px;
  top: 50px;
  left: 10px;
  background-image: url(./images/PHELMA-cmjn.png);
  background-repeat: no-repeat;
  background-size: auto;
  /*background-position: 0 0;
}
*/

#footer {
    height: 35px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    width: 88%;
    position: fixed;
    left: 6%;
    bottom: 0;
    background: #BE141E;
    text-align: center;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    font: 20px Helvetica, sans-serif;
}

footer.span

.push {
    float: top;
    height: 0px;
    top: 0;
    left: 0;
}

#content{
  position: fixed;
  top: 0%;
  left: 10%;
  width: 80%;
  height: 95%;

}

#header {
    position: fixed;
    top: 0;
    left: 6%;
    height: 40px;
    width: 88%;
    background: #BE141E;
    text-align: right;
}

#content {
    height: 100%;
}

#sidebar {
    position: fixed;
    left: 6%;
    top: 60px;
    height: 84px;
    width: 131px;
    background: #BE141E;
    background-image: url(./images/phelma.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#main {
    margin-left: 32px
}

.exo {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
  background-color: #dae6f1;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 25%;
  height: 50px;
  left: calc(-12.5% - 25px);
  top: 50%;
  font-size: 75%;
  position: absolute;
}

.see-also {
    width: 100%;
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
}

.warning {
    background-color:#C6463D;
    color: #FFF;
    text-align:center;
    font-weight: bold;
}
